.DS_Store
*.swp
bin/

# gradle
build/
.gradle/

.settings/
.classpath
*.class
*.jar

# Eclipse files
.project
.metadata/

# ingore logs
logs/
*-logs/
*.log

# ignore database data
pg_data/
postgresql-Snippets/